<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>masschat | <%= user.display_name %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css">
    <link href="https://fonts.googleapis.com/css?family=Source+Code+Pro" rel="stylesheet">
    <link rel="stylesheet" href="/style.css">
    <script src="/app.js"></script>
</head>
<body>
<div class="top-border"></div>
<div class="main">
    <form action="/search"> 
    <p>
        <a href="/">masschat.co</a>
        <input type="search" style="display: inline" placeholder="Search..." name="q">
        <button type="submit">Go</button>
    <span style="float: right;"> 
        <% if current_user.nil?  %>
            <a href="/login">Log in<a>
            <a href="/signup">Sign up</a>
        <% else %>
            <a href="/@/<%= current_user.username %>"><%= current_user.display_name %></a>
        <% end %>
    </span>
    </p>
    </form>
    <h3 style="display: inline;"><%= user.display_name %> (<%= karma %>)</h3>
    <a href="/logout">Log out</a>
    <% posts.each_with_index do |post, index| %>
        <p>
            <%= index+1 %>. (<span id="score_<%= post.id %>"><%= post.score %></span>)
            <% unless current_user.nil? %>
            <% end %>
            <a href="<%= post.url %>"><%= post.display %></a>
            | <a href="/!/<%= post.query %>"><%= post.query %></a>
        </p>
    <% end %>
</div> 
</body>
</html>